/************************************************************
  Default Styles / Mobile-first Approach 
************************************************************/

/****************************************
  Overall Default Styles
****************************************/
:root {
  /******Start Colors*****/

  /* Primary */
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);

  /* Neutral */
  --dark-gray: hsl(0, 0%, 59%);

  /******End Colors*****/
}

html,
body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--dark-cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg-pattern-top {
  height: 100%;
  width: 100%;
  background-image: url("/images/bg-pattern-top.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  left: -50%;
  top: -25%;
}
.bg-pattern-bottom {
  height: 100%;
  width: 100%;
  background-image: url("/images/bg-pattern-bottom.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  right: -50%;
  bottom: -65%;
}

/****************************************
  Utility Classes
****************************************/
.bold-txt {
  font-weight: 700;
}
.light-txt {
  padding-top: 0.5rem;
  font-size: 0.75rem;
  color: var(--dark-gray);
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Disable scroll for overflowing items */
.disable {
  overflow: hidden;
  position: fixed;
}

/****************************************
  Profile Container Styles
****************************************/
#profile-container {
  height: 60%;
  width: 85%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

#card-bg {
  border-radius: 15px 15px 0px 0px;
  background-image: url("/images/bg-pattern-card.svg");
  height: 40%;
  width: 100%;
}

#img-container {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 33%;
  z-index: 2;
}

#img-container img {
  border-radius: 50%;
}

#profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
#profile span {
  font-weight: 400;
  padding-left: 0.65rem;
  color: var(--dark-gray);
}
#profile .location {
  padding-top: 1rem;
  font-size: 0.95rem;
  color: var(--dark-gray);
}

#profile-stats {
  border-top: 1px solid var(--dark-gray);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.75rem 2.5rem;
}

/****************************************
  Footer Styles
****************************************/
footer {
  position: absolute;
  bottom: 5%;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/************************************************************
  Tablet Design
************************************************************/
@media only screen and (min-width: 560px) {
  /****************************************
    Profile Container Styles
  ****************************************/
  #profile-container {
    max-height: 1024px;
    max-width: 560px;
  }
  #img-container {
    top: 39%;
  }
}

/************************************************************
  Small Desktop Design
************************************************************/
@media only screen and (min-width: 1024px) {
  .bg-pattern-top {
    left: -50%;
    top: -25%;
  }
  .bg-pattern-bottom {
    right: -35%;
    bottom: -65%;
  }
  /****************************************
    Profile Container Styles
  ****************************************/
  #img-container {
    height: 175px;
    width: 175px;
    top: 33%;
  }
  #img-container img {
    height: 150px;
    width: 150px;
  }
  #profile {
    padding-top: 4rem;
  }
}

/************************************************************
  Desktop Design
************************************************************/
@media only screen and (min-width: 1200px) {
  .bg-pattern-top {
    left: -35%;
    top: -55%;
  }
}

/************************************************************
  Large Desktop Design
************************************************************/
@media only screen and (min-width: 1440px) {
  .bg-pattern-top {
    left: -20%;
    top: -50%;
  }
  .bg-pattern-bottom {
    right: -46%;
    bottom: -65%;
  }
}
