/************************************************************
  Default Styles / Mobile-first Approach 
************************************************************/

/****************************************
  Overall Default Styles
****************************************/
:root {
    /******Start Colors*****/

    /* Primary */
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

    /* Neutral */
    --dark-gray: hsl(0, 0%, 59%);

    /******End Colors*****/
}

html, body {
  height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--dark-cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#top {
  position: absolute;
  right: 20%;
  bottom: 20%;
  z-index: -1;
}
#bottom {
  position: absolute;
  top: 55%;
  z-index: -1;
}

/****************************************
  Utility Classes
****************************************/
.bold-txt {
  font-weight: 700;
}
.light-txt {
  padding-top: 0.50rem;
  font-size: 0.75rem;
  color: var(--dark-gray);
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/****************************************
  Profile Container Styles
****************************************/
#profile-container {
  height: 60%;
  width: 85%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#card-bg {
  border-radius: 15px 15px 0px 0px;
  background-image: url("/images/bg-pattern-card.svg");
  height: 40%;
  width: 100%;
}

#img-container {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 33%;
  z-index: 2;
}

#img-container img {
  border-radius: 50%;
}

#profile {
  width: 100%;  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
#profile span {
  font-weight: 400;
  padding-left: 0.65rem;
  color: var(--dark-gray);
}
#profile .location {
  padding-top: 1rem;
  font-size: 0.95rem;
  color: var(--dark-gray);
}

#profile-stats {
  border-top: 1px solid var(--dark-gray);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.75rem 2.5rem;
}

/****************************************
  Footer Styles
****************************************/
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}